<div class="inner-block">
  <div class="product-block">
    <div class="pro-head">
      <h2>Products</h2>
    </div>
    <% @products.each do |product| %>
        <%= render product %>
    <% end %>
    <div class="clearfix"> </div>
  </div>
</div>